body {
  height: 100vh;
  width: 100vw;
  background-color: #313435;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: black;
  padding: 20px;
  margin: auto;
  border-radius: 25px;
}

.input-div {
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  width: 500px;
  margin: 10px;
}

input {
  text-align: end;
  font-size: 80px;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  height: 80px;
  width: 500px;
  background-color: rgb(3, 3, 3);
  color: white;
}

.keypad-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  font-size: 40px;
  width: 100px;
  height: 100px;
  outline: none;
  border: none;
  text-align: center;
  padding: 5px;
  background-color: rgba(94, 90, 90, 0.404);
  border-radius: 50%;
  color: white;
  margin: 5px;
  cursor: pointer;
  font-weight: 700;
}
.btn:hover {
  background-color: rgb(90, 90, 90);
  border-radius: 50%;
}

#equal,
#div,
#mul,
#min,
#add {
  background-color: rgb(255, 161, 53);
}

#calc {
  pointer-events: none;
}

#AC,
#del,
#per {
  background-color: rgb(173, 169, 169);
  color: black;
}
